[submodule "ESP32_DoorController/lib/esp-discord"]
	path = ESP32_DoorController/lib/esp-discord
	url = https://github.com/abobija/esp-discord.git
[submodule "ESP32-DoorController/components/esp-discord"]
	path = ESP32-DoorController/components/esp-discord
	url = https://github.com/ManavTri/esp-discord.git
